[[source]]
url = "https://artifactory.marquardt.de/artifactory/api/pypi/aspl-pypi-release-virtual/simple"
verify_ssl = true
name = "marquardt_pypi"

[packages]
spl-core = "==6.4.1"
pytest = ">=8.3"
pytest-env = ">=1.1.5"
pipenv = ">=2024.0.3"
testfixtures = ">=8.3"
pip-system-certs = ">=4.0"
sple-static-analysis-extension = "==v0.11.0"

[requires]
python_version = "3.11"

[dev-packages]
